body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}
div {
    border: 3px white;
}
header {
    display: flex;
    position: fixed;
    border-bottom: 1px solid seashell;
    height: 69px;
}
a {
    color: white;
    margin-left: 50px;
}
.header img {
    height: 50px;
    margin-left: 10px;
}
.navilink {
    display: flex;
    text-align: left;
}

/* Main Content Container */
.ourMission {
    position: relative;
    padding-top: 50px;
    height: 700px;
    width: 1200px;

}
.ourMission div.text {
    position: absolute;
    top: 50%;
    right: 0;
    left: 0;
    background-color: black;
}